*.pyc
**/*/nosetests.xml
reports/*.xml
**/__pycache__/**
.idea
.vscode
.scannerwork
.app/test/coverage/.coverage
.app/test/coverage/coverage.xml
app/test/report.xml
app/.scannerwork
start.sh
**/__pycache__
setenv.sh
**/.coverage
